<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="Stylesheet" type="text/css" href="css/pagestyle.css" />
        <title>Strona głowna</title>
    </h:head>
    <h:body>

        <h:form>
            <p:messages autoUpdate="true" />
            <p:panel header="Strona główna" style="text-align: center">
                <p>
                    <h:outputText
                        value="Witaj, #{userManager.currentUser.getName()}!" />
                </p>
                <p>
                    <p:commandButton value="Wyloguj"
                                     action="#{userManager.logout()}" />
                </p>

                <p:chart type="pie" model="#{chartView.pieModel2}" style="width:400px;height:300px" />

                <p>
                    <h:outputText value="Statystyki na tle innych prowadzących"/>
                </p>
                
                <p:chart type="bar" widgetVar="ch2" model="#{chartView.barModel}" style="height:300px;" />


            </p:panel>

        </h:form>


    </h:body>
</html>

