<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="Stylesheet" type="text/css" href="css/pagestyle.css" />
        <title>Strona głowna</title>
    </h:head>
    <h:body>

        <h:form>
            <p:messages autoUpdate="true" />
            <p:panel header="Strona główna">
                <p>
                    <h:outputText
                        value="Witaj, #{userManager.currentUser.username}!" />
                </p>
                <p>
                    <p:commandButton value="Wyloguj"
                                     action="#{userManager.logout()}" />
                </p>
                <h:panelGrid columns="2">
                    <p:outputLabel for="przedmioty" value="Wybierz przedmiot oraz prowadzącego:   " />
                    <p:selectOneMenu id="przedmioty" value="#{dbData.przedmioty}" effect="fold" editable="true">
                        <f:selectItems value="#{dbData.przedmiot}" />
                    </p:selectOneMenu>
                </h:panelGrid >
                <br></br>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Imię i nazwisko prowadzącego:  " />
                    <p:outputLabel value="Rodzaj studiów:  " />
                    <p:outputLabel value="Rok akadademicki:  " />
                    <p:outputLabel value="Semestr:  " />
                    <p:outputLabel value="Kierunek studiów:  " />
                    <p:outputLabel value="Specjalność:  " />
                    <p:outputLabel value="Przedmiot:  " />
                    <p:outputLabel value="Rodzaj zajęć:  " />
                </h:panelGrid>

                
                <p>5- ZDECYDOWANIE TAK</p>
                <p>4- RACZEJ TAK</p>
                <p>3- ŚREDNIO </p>
                <p>2- RACZEJ NIE</p>
                <p>0- ZDECYDOWANIE NIE</p>
                <br></br>
                <p>Czy prowadzący zajęcia: </p>
                <br></br>
                <p>Pytania:</p>
                <br></br>

                <h:panelGrid columns="2" style="margin-right:70px" cellpadding="5">                            
                    <p:outputLabel for="pyt1" value="1. Rozpoczyna i kończy je punktualnie ?" />
                    <p:selectOneRadio id="pyt1"  style="text-align: center">                       
                        <f:selectItem itemLabel="5" itemValue="5" />      
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />

                    </p:selectOneRadio>

                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt2" value="2. Jest przygotowany do zajęć? " />
                    <p:selectOneRadio id="pyt2">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt3" value="3. przekazuje wiedzę w sposób jasny i komunikatywny? " />
                    <p:selectOneRadio id="pyt3">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt4" value="4. Inspiruje studentów do samodzielnego myślenia? " />
                    <p:selectOneRadio id="pyt4">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt5" value="5. pokazuje związki przedmiotu z pokrewnymi dziedzinami wiedzy? " />
                    <p:selectOneRadio id="pyt5">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt6" value="6. pokazuje związki przedmiotu z praktyką? " />
                    <p:selectOneRadio id="pyt6">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt7" value="7. Jest dostępny w czasie wyznaczonych konsultacji? " />
                    <p:selectOneRadio id="pyt7">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt8" value="8. Jasno określa zasady zaliczania? " />
                    <p:selectOneRadio id="pyt8">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt9" value="9. obiektywnie ocenia wiedzę i wkład pracy studentów?" />
                    <p:selectOneRadio id="pyt9">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>


                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                    <p:outputLabel for="pyt10" value="10. Jest życzliwy i taktowny w stosunku do studentów? " />
                    <p:selectOneRadio id="pyt10">
                        <f:selectItem itemLabel="5" itemValue="5" />
                        <f:selectItem itemLabel="4" itemValue="4" />
                        <f:selectItem itemLabel="3" itemValue="3" />
                        <f:selectItem itemLabel="2" itemValue="2" />
                        <f:selectItem itemLabel="0" itemValue="0" />
                    </p:selectOneRadio>
                </h:panelGrid>

            </p:panel>

            <p:panel>

            </p:panel>
        </h:form>


    </h:body>
</html>

